* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial;
    font-size: 18px;
}

h1, h2, h4 {
    color: black;
    font-family: Arial;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;

}
p {
    text-align: justify;
    font-family: Arial;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: auto;
}

.main-text {
    text-align: justify;
}


.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin: 20px auto 0 auto;
}

.part1 {
    background-color: #b8e4f4;
    width: 40%;
    float:left;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 178px;
}

.part2 {
    background-color: #ffffff;
    width: 60%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;




}



.sample {
    float:left;
    width: 30%;
}

.sample2 {
    margin-top: 20px;
    float: left;
    width: 70%;
    font-size: 30px;
}

.contacts {
    padding-top: 170px;
}
